@using OnThisDay.Models;
@model OnThisDay.Models.OTD.Root;

<div class="container">
	<h2>On this day: @ViewData["month"]/@ViewData["day"]</h2>
	<form method="get" asp-controller="OTD" asp-action="Index">
	<div class="form-group">
		<input type="text" name="month" class="form-control" placeholder="Month 01-12" required/>
		<input type="text" name="day" class="form-control" placeholder="Day 01-31" required/>
		<button type="submit" class="btn btn-primary mt-2">Search</button>
	</div>
	</form>
	<button id="EventsButton" class="btn btn-primary" style="margin-bottom: 20px; margin-top: 20px;">Events</button>
	<div id="EventsContainer" style="display: none;">
		<div class="row">
			@foreach(var e in @Model.events){
				<div class="col-md-4">
					<div class="card" style="width: 100%;">
						<div class="card-body">
							<h5 class="card-title">@e.year</h5>
							<p class="card-text">@e.text</p>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</div>

<div class="container">
	<button id="BirthsButton" class="btn btn-primary" style="margin-bottom: 20px;">Births</button>
	<div id="BirthsContainer" style="display: none;">
		<div class="row">
			@foreach(var b in @Model.births){
				<div class="col-md-4">
					<div class="card" style="width: 100%;">
						<div class="card-body">
							<h5 class="card-title">@b.year</h5>
							<p class="card-text">@b.text</p>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</div>

<div class="container">
	<button id="DeathsButton" class="btn btn-primary" style="margin-bottom: 20px;">Deaths</button>
	<div id="DeathsContainer" style="display: none;">
		<div class="row">
			@foreach(var b in @Model.deaths){
				<div class="col-md-4">
					<div class="card" style="width: 100%;">
						<div class="card-body">
							<h5 class="card-title">@b.year</h5>
							<p class="card-text">@b.text</p>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</div>

<script>
	document.getElementById('EventsButton').addEventListener('click', function() {
		var container = document.getElementById('EventsContainer');
		if (container.style.display === 'none') {
			container.style.display = 'block';
		} else {
			container.style.display = 'none';
		}
	});
	document.getElementById('BirthsButton').addEventListener('click', function() {
		var container = document.getElementById('BirthsContainer');
		if (container.style.display === 'none') {
			container.style.display = 'block';
		} else {
			container.style.display = 'none';
		}
	});
	document.getElementById('DeathsButton').addEventListener('click', function() {
		var container = document.getElementById('DeathsContainer');
		if (container.style.display === 'none') {
			container.style.display = 'block';
		} else {
			container.style.display = 'none';
		}
	});
</script>
